﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <p>Welcome!</p>
        @Html.ActionLink("Register", "Register", "User")

        
        @Html.ActionLink("Login", "Login", "User")
    </div>