﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="Calculator"  style="width: 25%; display:inline-block;;" >
		

	   <input type="string"  v-model="current" @@keyup.enter="result()">
	   <div >
	    <span v-for="logs in log">{{ logs }}</span>
	  </div>
	   <div >
		    <div >
		      <button  @@click="Expresion(7)">7</button>
		   
		      <button   @@click="Expresion(8)">8</button>
		   
		      <button   @@click="Expresion(9)">9</button>

		      <button   @@click="clear()">C</button>

		      <button   @@click="ce()">CE</button>

		  </div>
  		</div>

  		<div>
		    <div >
		      <button   @@click="Expresion(4)">4</button>
		 
		      <button   @@click="Expresion(5)">5</button>
		  
		      <button  @@click="Expresion(6)">6</button>
		  
		  	<button  @@click="Expresion('/')">/</button>

		  	<button   @@click="Expresion('*')">*</button>

		      
		    </div>
	  </div>

	  <div >
		    <div >
		      <button  @@click="Expresion(1)">1</button>
		  
		      <button  @@click="Expresion(2)">2</button>
		    
		      <button  @@click="Expresion(3)">3</button>
		      <button  style="width: 70px"@@click="addExpresion('-')">-</button>
		    
		      
		</div>
  	</div>
 	
  	<div >
	    <div>
	      <button  @@click="Expresion(0)">0</button>
	    
	      <button  @@click="Expresion('.')">.</button>
	    
	      <button  @@click="result()">=</button>

	      <button  style="width: 70px" @@click="Expresion('+')">+</button>
	    </div>
  </div>

</div>