﻿@{
    ViewData["Title"] = "Home Page";
}


<div id="phone" style="width: 50%;" >
	  
			<input type="text" id="textname" placeholder="Enter Name"  v-model.lazy="name">
			<br>
		<input type="number" id="textnumber" placeholder="Enter Number" v-model.lazy="number">
	
		<button style="float: right;" type="button"  @@click="addnew">Add More</button>


		<div class="table-responsive">  
              <table style="margin-top: 15px;"class="table table-bordered" id="dynamic_field">  
              			<tr>
						   <th>Name</th>
						   <th>Contact</th>
						   <th>Action</th>
					 	</tr>
                      <tr  v-for="(log, index) in inputs">  
                      		<td><input type="text"  v-model="log.inputName"  ></td>
                      		<td><input type="text"  v-model="log.inputNumber"  ></td>
                      		<td><button type="button" name="remove"  class="btn btn-danger" @@click="remove(index)">X</button></td>

                                         
                      </tr>  
            </table>  
                               
         </div>  
		
</div>

